<div class="content">
    <h2>Contact</h2>
    <p>This page used to house a slick contact form, which provided an efficient means of eliciting spam from bots. Then I implemented a catcha, which kept the bots out, but still facilitated head hunters spamming me about exciting oppotunities for me to make a commision for them.</p>
    <p>The form is gone entirely now. I live within about 20 minutes of the city of Pittsburgh. You probably don't need to contact me, but if you'd like to reach out, <a href="mailto:jay@jaydelgreco.com?subject=Contact from design site&body=Thank you for your feedback">jay@jaydelgreco.com</a> works.</p>
    <h3><strong>Resume:</strong></h3>
    <ul>
        <li><a href="../../../assets/resume.doc" class="link">My resume as a word doc</a></li>
    </ul>
</div>